  header {
    display: flex;
    width: 80%;
    height: 100px;
    background-color : ivory; /* ヘッダの背景色 黒を指定*/
    /* 半透明にする*/
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    align-items: center;
    position: fixed;
  }
   
  p {
    padding: 100px 0px;
    height: 150px;
  }
   
  .title {
    margin-right: auto;
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }


  .wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:0px 0px;
}